body { background: #c43ebf; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 53px; display: flex; }
.block-email-0 { color: #327560; font-size: 13px; margin-bottom: 5px; }
.block-email-1 { color: #121793; font-size: 20px; margin-bottom: 5px; }
.block-sms-2 { color: #324550; font-size: 17px; margin-bottom: 5px; }
.block-config-3 { color: #1c7974; font-size: 14px; margin-bottom: 5px; }
.block-filter-4 { color: #3e1800; font-size: 20px; margin-bottom: 5px; }
.block-cluster-5 { color: #817a4f; font-size: 17px; margin-bottom: 5px; }
.block-sms-6 { color: #2fe6a8; font-size: 14px; margin-bottom: 5px; }
.block-order-7 { color: #a43347; font-size: 20px; margin-bottom: 5px; }
.block-router-8 { color: #514d49; font-size: 21px; margin-bottom: 5px; }
.block-token-9 { color: #aa42e3; font-size: 13px; margin-bottom: 5px; }
.block-uploader-10 { color: #2a5d33; font-size: 17px; margin-bottom: 5px; }
.block-shipping-11 { color: #bb6f0e; font-size: 13px; margin-bottom: 5px; }